<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body style="background-color: black;">
    <div class="w3-white top-space-right-parent-div">
        <div class="w3-padding-large" id="main">
            <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
                <h2 style="color: white;">About</h2>
                <hr style="width:200px" class="w3-opacity">
                <p style="color:black">I am working on Javascript and Typescript for the last two years. I am a
                    full-stack developer. I have
                    developing experience in Angular, React and Vue for front-end development, Node.js and Spring Boot
                    for
                    back-end development.
                    I have worked a large scale software for the Bangladesh government called Bangladesh E-Government
                    Resource Planning(GRP). I'm currently working in a ERP software Pridebook Pro for the Garment
                    Factory
                    and Bangladesh government.
                </p>
                <h4 style="color: white;"><u>My Skill</u></h4>

                <div class="con">
                    <div class="con-tooltip bottom">
                        <p style="margin-top: 10px; color: black;"><i class="fa fa-language" aria-hidden="true"></i>
                            Languages </p>
                        <div class="tooltip ">
                            <p><i class="fa fa-fighter-jet" aria-hidden="true"></i>&nbsp; C</p>
                            <p><i class="fa fa-fighter-jet" aria-hidden="true"></i>&nbsp; C++</p>
                            <p><i class="fa fa-fighter-jet" aria-hidden="true"></i>&nbsp; JavaScript</p>
                            <p><i class="fa fa-fighter-jet" aria-hidden="true"></i>&nbsp; TypeScript</p>
                            <p><i class="fa fa-fighter-jet" aria-hidden="true"></i>&nbsp; Java</p>
                            <p><i class="fa fa-fighter-jet" aria-hidden="true"></i>&nbsp; SQL</p>
                            <p><i class="fa fa-fighter-jet" aria-hidden="true"></i>&nbsp; HTML5</p>
                            <p><i class="fa fa-fighter-jet" aria-hidden="true"></i>&nbsp; CSS3</p>
                        </div>
                    </div>

                    <div class="con-tooltip bottom">
                        <p style="margin-top: 10px; color: black;"><i class="fa fa-th-large" aria-hidden="true"></i>
                            Framework </p>
                        <div class="tooltip ">
                            <p><i class="fa fa-fighter-jet" aria-hidden="true"></i>&nbsp; Angular</p>
                            <p><i class="fa fa-fighter-jet" aria-hidden="true"></i>&nbsp; React</p>
                            <p><i class="fa fa-fighter-jet" aria-hidden="true"></i>&nbsp; Vue</p>
                            <p><i class="fa fa-fighter-jet" aria-hidden="true"></i>&nbsp; Nodejs</p>
                            <p><i class="fa fa-fighter-jet" aria-hidden="true"></i>&nbsp; Spring Boot</p>
                        </div>
                    </div>

                    <div class="con-tooltip bottom">
                        <p style="margin-top: 10px; color: black;"><i class="fa fa-database" aria-hidden="true"></i>
                            Databases </p>
                        <div class="tooltip ">
                            <p><i class="fa fa-fighter-jet" aria-hidden="true"></i>&nbsp; MySQL</p>
                            <p><i class="fa fa-fighter-jet" aria-hidden="true"></i>&nbsp; PostgreSQL</p>
                            <p><i class="fa fa-fighter-jet" aria-hidden="true"></i>&nbsp; MongoDB</p>
                        </div>
                    </div>

                    <div class="con-tooltip bottom">
                        <p style="margin-top: 10px; color: black;"><i class="fa fa-life-ring" aria-hidden="true"></i>
                            Libraries </p>
                        <div class="tooltip ">
                            <p><i class="fa fa-fighter-jet" aria-hidden="true"></i>&nbsp; RxJs</p>
                            <p><i class="fa fa-fighter-jet" aria-hidden="true"></i>&nbsp; Bootstrap</p>
                        </div>
                    </div>

                    <div class="con-tooltip bottom">
                        <p style="margin-top: 10px; color: black;"><i class="fa fa-code-fork" aria-hidden="true"></i>
                            VCS </p>
                        <div class="tooltip ">
                            <p><i class="fa fa-fighter-jet" aria-hidden="true"></i>&nbsp; Git</p>
                        </div>
                    </div>

                </div>
                <h4 style="color: white; margin-bottom: 25px;"><u>Resume</u></h4>
                <button class="button-85" role="button" style="margin-right: 20px;">
                    <i class="fa fa-download"></i><a
                        href="https://drive.google.com/file/d/1tR-ebg47g_7ZrpYBSZp7uHjEFe8ccEDK/view?usp=sharing"
                        target="_blank"> View Resume </a>
                </button>

                <button class="button-85" role="button">
                    <i class="fa fa-download"></i><a
                        href="https://drive.google.com/file/d/1tR-ebg47g_7ZrpYBSZp7uHjEFe8ccEDK/view?usp=sharing">
                        Download Resume</a>
                </button>


            </div>
            <!-- Footer -->
            <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
                <p class="w3-medium">Powered by <b>@ Md. Billal Hossain</b></p>
                <!-- End footer -->
            </footer>

            <!-- END PAGE CONTENT -->
        </div>
    </div>
</body>