<div class="col-md-12 text-center">
    <button class="button button-size" role="button" routerLink="home"><i class="fa fa-home"
            aria-hidden="true"></i></button>
</div>
<div class="col-md-12 text-center top-space">
    <button class="button button-size" role="button" routerLink="about"><i class="fa fa-user"
            aria-hidden="true"></i></button>
</div>
<div class="col-md-12 text-center top-space">
    <button class="button button-size" role="button"><i class="fa fa-clock-o" aria-hidden="true"></i></button>
</div>
<div class="col-md-12 text-center top-space">
    <button class="button button-size" role="button"><i class="fa fa-paperclip" aria-hidden="true"></i></button>
</div>
<div class="col-md-12 text-center top-space">
    <button class="button button-size" role="button"><i class="fa fa-book" aria-hidden="true"></i></button>
</div>
<div class="col-md-12 text-center top-space">
    <button class="button button-size" role="button"><i class="fa fa-share" aria-hidden="true"></i></button>
</div>
<div class="col-md-12 text-center top-space">
    <button class="button button-size" role="button"><i class="fa fa-moon-o" aria-hidden="true"></i></button>
    <!-- <i class="fa fa-sun-o" aria-hidden="true"></i> -->
</div>
<div class="col-md-12 text-center top-space">
    <button class="button button-size" role="button"><i class="fa fa-search" aria-hidden="true"></i></button>
</div>
<div class="vertical-line"></div>