h1 {
    color: #3c9b47;
}

.hero {
    background: url(../../../assets/img/mbhossain.jpg) center no-repeat;
    height: 100%;
    width: 100%;
    display: table;
    position: relative;
    background-size: cover;
}

.background-overlay:before {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.hero-content {
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.hero-content h1 {
    width: 100%;
    padding: 0 15px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
}

.hero-content p {
    padding: 0 10px;
    margin: 10px auto 0;
    text-align: center;
    /* text-transform: uppercase; */
}

.hero-content .hero-job {
    font-size: 18px;
}

.hero-content .hero-job span {
    padding-bottom: 5px;
    border-bottom: 1px solid #ffffff;
}

.hero-content .hero-job-desc {
    font-size: 14px;
    max-width: 700px;
}

.hero-arrow {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    width: 20px;
    margin: 0 auto;
    text-align: center;
}

.hero-arrow a {
    font-size: 28px;
    color: #ffffff;
}