<!-- Hero Section, Background Image change in css -->
<div id="top" class="hero background-overlay">

    <!-- Name & Description -->
    <div class="hero-content">
        <h1>Md. Billal Hossain</h1>
        <p class="hero-job"><span>Software Engineer</span></p>
        <p class="hero-job-desc">Pridesys IT Ltd.</p>

    </div><!-- /.hero-content -->

    <div class="hero-arrow page-scroll home-arrow-down">
        <a class="" href="#intro"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
    </div><!-- /.hero-arrow -->

</div><!-- /.hero -->

<div class="top-space text-center">
    <button class="button" role="button" (click)="openEmail()"><i class="fa fa-envelope"></i>
        Send Email</button>
</div>